body {
  overflow-x: hidden;
  background: radial-gradient(rgb(245, 244, 244), #f1d3bc);
}
.img-carousel {
  object-fit: cover;
  max-width: 100%;
  height: 450px;
}
.carousel-container {
  max-width: 1000px;
  margin: 0 auto;
}
.cardImage {
  margin: 5px 5px;
}
.card-title {
  font-size: 13px;
}
.card-text {
  font-size: 13px;
  max-width: fit-content;
}
.articlesContainer {
  margin: auto;
}

a,
.tabs {
  color: #940516 !important;
  font-weight: bold;
  text-decoration: none !important;
}

.navBgColor.active {
  background-color: #c01a1a !important;
  color: white !important;
}
a:hover,
.tabs:hover {
  color: rgb(160, 115, 31) !important;
}

.btnColor.active {
  background-color: #962532 !important;
  color: white !important;
}
.tabsContainer {
  background-color: #f1d3bc !important;
}
